body{
  background-color: aliceblue;
}

header .navbar {
  justify-content: space-between;
  width: 100%;
  padding-right: 3rem;
  transition: 0.5s;
}

header .navbar.bg-nav-down {
  background-color: rgb(146, 146, 54);
  padding-bottom: 1rem;
}

/* HERO START */
.hero {
  height: 150vh;
  background-color: antiquewhite;
}

.hero .container-md {
  width: 100%;
  position: relative;
}

.bg-hero {
  height: 140vh;
}

.bg-hero .img1,
.bg-hero .img2 {
  height: 22rem;
}

.btn .ai-cart {
  font-size: 2rem;
}

.btn .ai-cart span {
  top: 35%;
  left: 90%;
}

.text-hero {
  padding: 13rem 0 0 3rem;
  height: max-content;
  width: 50%;
}

.text-hero h1 {
  font-size: 4rem;
}

.order-hero {
  padding: 7px 30px 7px 0px;
}

.order-hero div {
  margin: 0 7px 0 10px;
}

.order-hero div .ai-cart {
  font-size: 20px;
  padding: 5px;
}

.tombol-hero a {
  margin-left: 3rem;
}

.right-hero .image {
  margin-top: 10rem;
  background-color: rgb(81, 95, 58);
  border-radius: 100%;
  width: max-content;
  margin-left: 8rem;
  padding: 2rem 4rem 4rem 4rem;
}

.right-hero .image img {
  height: 19rem;
  width: 19rem;
}

.price {
  padding-top: 12rem;
}

.jenis {
  padding-left: 6rem;
  width: max-content;
  height: max-content;
}

.jenis div {
  content: "";
  background-color: rgba(204, 190, 190, 0.404);
  height: max-content;
}

.jenis p {
  width: max-content;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.reting-hero {
  padding-right: 12rem;
  justify-content: end;
  width: 100%;
  height: max-content;
}

.reting-hero div {
  content: "";
  background-color: rgba(204, 190, 190, 0.404);
  font-size: 1.5rem;
}
.reting-hero div .d-flex p {
  width: max-content;
  margin-bottom: 0;
}
.reting-hero div .d-flex i {
  margin-left: 3px;
}

.harga-hero {
  margin-left: 7rem;
  padding-top: 7rem;
  width: max-content;
  height: max-content;
}
.harga-hero div {
  content: "";
  background-color: rgba(204, 190, 190, 0.404);
}

.harga-hero p {
  width: max-content;
  margin-bottom: 0;
  font-size: 1.5rem;
}

/* POPULAR NOW */
.popular-now{
  margin-top: 10rem;
  padding: 0 7rem 0 7rem;
}

.popular-now p{
  font-weight: 700;
}
.popular-now div{
  background-color: blueviolet;
}

/* POPULAR NOW */



/* HERO END */

/* SERVICE START */

.service{
  height: 100vh;
}

/* SERVICE END */
